* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 100px;
}